@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

:root {
  --light-green: #90EE90;
  --light-pink: #FFB6C1;
  --light-yellow: #FFFFE0;
  --light-grey: #D3D3D3;
  --lavender: #E6E6FA;
  --peach: #FFDAB9;
  --mint-green: #98FB98;
  --pale-purple: #D8BFD8;
  --sky-blue: #87CEEB;
}

/* Usage of custom properties */

.light-green {
  background-color: var(--light-green);
}

.light-pink {
  background-color: var(--light-pink);
}

.light-yellow {
  background-color: var(--light-yellow);
}

.light-grey {
  background-color: var(--light-grey);
}

.lavender {
  background-color: var(--lavender);
}

.peach {
  background-color: var(--peach);
}

.mint-green {
  background-color: var(--mint-green);
}

.pale-purple {
  background-color: var(--pale-purple);
}

.sky-blue {
  background-color: var(--sky-blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  all: unset;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: aliceblue;
  background-image: url('img/1159049_2757.jpg');
  background-size: contain;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* add note btn */
.add-note {
  position: fixed;
  z-index: 211;
  bottom: 50px;
  left: 50px;
  transition: .5s;
}

.add-note button {
  background-color: transparent;
  border: none;
  font-size: 50px;
  color: blue;
  cursor: pointer;
}

.add-note:hover {
  transform: rotate(50deg);
}

/* chose color */
.add-note ul {
  list-style: none;
  /* margin: 0 auto; */
}

.add-note ul li {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* nav */
nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(2px);
  position: fixed;
}

nav h2 {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-weight: 800;
}

@media screen and (max-width:750px) {
  nav {
    justify-content: center;
  }

  nav h2 {
    margin: 0;
  }
}

/* notes */
.all-notes {
  width: 98%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 70px 0 0 0;
}
.all-notes .note{
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #87CEEB;
  border-radius: 20px;
  overflow: hidden;
}
.all-notes .note .title{
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 700; 
}
.all-notes .note .content{
  width: 90%;
  height: 100%;
  font-size: 17px;
}
.all-notes .note .edit{
  position: relative;
  bottom: 3%;
  left: 40%;
}
.all-notes .note .edit button{
  background-color:rgb(255, 255, 255);
  border: none;
  color: rgb(0, 0, 0);
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
}