<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dragon notes</title>
  <link rel="stylesheet" href="style.css">


</head>

<body>

  <div class="container">
    <!-- add update note -->
    <div class="add-note">
      <button id="add-note"><i class="bi bi-plus-square-fill"></i></button>
    </div>
    <div class="dashboard" style="display: none;" id="dashboard">
      <div class="note-board">
        <i class="bi bi-x-lg" id="cross"></i>
        <form action="">
          <div class="note-title">
            <input type="text" name="note-title" placeholder="title...">
          </div>
          <div class="note-body">
            <textarea name="note-body" id="note-body" placeholder="write here..."></textarea>
          </div>
          <div class="note-btn">
            <button type="submit"><i class="bi bi-floppy-fill"></i></button>
            <button type="button"><i class="bi bi-trash-fill"></i></button>
          </div>
          <input type="hidden" name="bgColor" id="bgColorInput">
        </form>
      </div>
    </div>
    <!-- nav bar -->
    <nav>
      <h2>dragon note</h2>
    </nav>
    <!-- all notes -->
    <div class="all-notes">
      <div class="note">
        <div class="title">
          <p>title</p>
        </div>
        <div class="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi velit doloremque et a alias? Repellendus,
            saepe maiores, libero aut voluptatibus molestiae, necessitatibus adipisci ratione vero nesciunt magnam
            perferendis deserunt labore eaque voluptatum! Provident odit rem quis cumque dolore quod architecto adipisci
            nulla quia. Deleniti est libero ab aut explicabo consequuntur.</p>
        </div>
        <div class="edit">
          <button><i class="bi bi-pencil-square"></i></button>
        </div>
      </div>
      <div class="note">
        <div class="title">
          <p>title</p>
        </div>
        <div class="content">
          <p>content</p>
        </div>
        <div class="edit">
          <button><i class="bi bi-pencil-square"></i></button>

        </div>
      </div>
      <div class="note">
        <div class="title">
          <p>title</p>
        </div>
        <div class="content">
          <p>content</p>
        </div>
        <div class="edit">
          <button><i class="bi bi-pencil-square"></i></button>

        </div>
      </div>
      <div class="note">
        <div class="title">
          <p>title</p>
        </div>
        <div class="content">
          <p>content</p>
        </div>
        <div class="edit">
          <button><i class="bi bi-pencil-square"></i></button>

        </div>
      </div>
    </div>

    <footer>
      <p><a href="/" target="_blank">dragon</a> © 2023 . all right reserved.</p>
    </footer>
  </div>


  <script src="main.js"></script>
</body>

</html>