<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>



</head>

<body>

  <div class="container">
    <%- include('./partials/nav.ejs') %>

      <div class="login">
        <div class="background">
          <form action="/login" method="post">
            <h2>login</h2>
            <div class="inputs">
              <input type="text" name="userName" id="username" placeholder="user name" required>
              <input type="password" name="password" id="password" placeholder="password" required>
              <p><%= err %></p>
            </div>
            
            <div class="btn">
              <button type="submit">login</button>
            </div>
            <a href="/createAccount">create account</a>
          </form>
        </div>
      </div>
      <%- include('./partials/footer.ejs') %>

  </div>



</body>

</html>