@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

:root {
  --light-green: #90EE90;
  --light-pink: #FFB6C1;
  --light-yellow: #FFFFE0;
  --light-grey: #D3D3D3;
  --lavender: #E6E6FA;
  --peach: #FFDAB9;
  --mint-green: #98FB98;
  --pale-purple: #D8BFD8;
  --sky-blue: #87CEEB;
}

/* Usage of custom properties */

.light-green {
  background-color: var(--light-green);
}

.light-pink {
  background-color: var(--light-pink);
}

.light-yellow {
  background-color: var(--light-yellow);
}

.light-grey {
  background-color: var(--light-grey);
}

.lavender {
  background-color: var(--lavender);
}

.peach {
  background-color: var(--peach);
}

.mint-green {
  background-color: var(--mint-green);
}

.pale-purple {
  background-color: var(--pale-purple);
}

.sky-blue {
  background-color: var(--sky-blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  all: unset;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: aliceblue;
  background-image: url('img/1159049_2757.jpg');
  background-size: contain;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

/* add note btn */
.add-note {
  position: fixed;
  z-index: 211;
  bottom: 50px;
  left: 50px;
  transition: .5s;
}

.add-note button {
  background-color: transparent;
  border: none;
  font-size: 50px;
  color: blue;
  cursor: pointer;
}

.add-note:hover {
  transform: rotate(50deg);
}

/* chose color */
.add-note ul {
  list-style: none;
  /* margin: 0 auto; */
}

.add-note ul li {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* nav */
nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(2px);
  position: fixed;
  z-index: 100;
}

nav h2 {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-weight: 800;
}

nav a {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  margin: 0 20px 0 0;
  font-weight: 600;
  letter-spacing: 1px;
}

@media screen and (max-width:750px) {
  nav {
    justify-content: center;
  }

  nav h2 {
    margin: 0;
  }
}

/* notes */
.all-notes {
  width: 98%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 70px 0 0 0;
}

@media screen and (max-width:900px) {
  .all-notes {
    grid-template-columns: 1fr 1fr;

  }
}

@media screen and (max-width:550px) {
  .all-notes {
    grid-template-columns: 1fr;
  }
}

.all-notes .note {
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #87CEEB;
  border-radius: 20px;
  overflow: hidden;
}

.all-notes .note .title {
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
}

.all-notes .note .content {
  width: 90%;
  height: 100%;
  font-size: 17px;
}

.all-notes .note .edit {
  position: relative;
  bottom: 3%;
  left: 40%;
}

.all-notes .note .edit button {
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(0, 0, 0);
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* login */
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #87CEEB; */

}

.login .background {
  width: 500px;
  height: 500px;
  background-color: #87CEEB;
  border-radius: 20% 80% 19% 81% / 75% 22% 78% 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .background form {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.login .background form h2 {
  width: 100%;
  text-align: start;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;

}

.login .background form .inputs {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.login .background form .inputs input {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
}

.login .background form .btn {
  width: 100%;
}

.login .background form .btn button {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.login .background form a {
  align-self: self-start;
  cursor: pointer;
  color: rgb(92, 92, 197);
  text-decoration: underline;
}

@media screen and (max-width:350px) {
  .login .background form h2 {
    text-align: center;
  }

  .login .background form .inputs {
    width: auto;
  }

  .login .background form .btn {
    width: auto;
  }

  .login .background form a {
    align-self: center;
  }

}

/* footer */
footer {
  width: 100%;
  height: 50px;
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  margin: 75px 0 0 0;
}

footer a {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

footer p {
  text-transform: capitalize;
}

/* dashboard */
.dashboard {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px);
}

.dashboard .note-board {
  width: 100%;
  max-width: 500px;
  height: 500px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #90EE90;
  border-radius: 10px;
}

.dashboard .note-board .note-color-container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.dashboard .note-board .note-color-container .note-color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: .5s;
  cursor: pointer;
}

.dashboard .note-board .note-color-container .note-color:hover {
  transform: scale(1.5);
}

.dashboard .note-board form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  height: 100%;
}

.dashboard .note-board form .note-title,
.dashboard .note-board form .note-body {
  width: 100%;
}

.dashboard .note-board form .note-title input,
.dashboard .note-board form .note-body textarea {
  max-width: 100%;
  min-width: 100%;
  height: 40px;
  padding: 0 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(99, 99, 99);
  outline: none;
}

.dashboard .note-board form .note-body textarea {
  min-height: 400px;
  max-height: 400px;
  padding: 20px;

}

.dashboard .note-board form .note-btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 10px;
}

.dashboard .note-board form .note-btn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dashboard .note-board form .note-btn button .bi-floppy-fill {
  font-size: 20px;
  color: rgb(45, 45, 136);
}

.dashboard .note-board form .note-btn button .bi-trash-fill {
  font-size: 20px;
  color: rgb(255, 0, 0);
}
.dashboard .note-board .bi-x-lg{
  position: absolute;
  top: 10px;
  left: 94%;
  font-size: 20px;
  cursor: pointer;
}